<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
   <h1>Register bellow</h1>
    <form action="/registration" method="post">
        email: <input type="text" name="email">
        first name: <input type="text" name="first_name">
        last name: <input type="text" name="last_name">
        password: <input type="password" name="password">
        birthday: <input type="date" name="birthday">
        <button>Register</button>
    </form>
<h1>Login</h1>
<form action="/login" method="post">
    email: <input type="text" name="email">
    password: <input type="password" name="password">
    <button>Login</button>
</form>


</body>
</html>