<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<style>
img {
    padding: 50px;
}
</style>
<body>
    Sup static peeps!
    <div class="col s7">1
    <img src="/images/car2.jpg" alt="asdfasdfasd">
    </div>
    <div class="col s8">1
        <img src="/images/car2.jpg" alt="asdfasdfasd">
        </div><div class="col s3">1
            <img src="/images/car2.jpg" alt="asdfasdfasd">
            </div><div class="col s1">1
                <img src="/images/car2.jpg" alt="asdfasdfasd">
                </div><div class="col s1">1
                    <img src="/images/car2.jpg" alt="asdfasdfasd">
                    </div><div class="col s1">1
                        <img src="/images/car2.jpg" alt="asdfasdfasd">
                        </div>
   

    <a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left"></i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right"></i>button</a>
<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</body>
</html>